{% load staticfiles %}
{% load format %}
{% load calculate %}
{% load verbose_names %}

<!DOCTYPE html>
{% if device == 'phone'%}

<html>
<head>
	
	<meta  http-equiv='X-UA-Compatible'  content='IE=edge,chrome=1'>
	<meta  name='viewport'  content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'>
	<meta  name='apple-mobile-web-app-capable'  content='yes'>
	<meta  name='apple-mobile-web-app-status-bar-style'  content='black'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href={% static 'ledger/css/font-awesome.min.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'ledger/css/sats.mobile.css' %}>
	<link rel="stylesheet" type="text/css" href="http://idangero.us/swiper/dist/css/swiper.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src={% static 'ledger/javascript/sats.mobile.js' %}></script>
	
	<style>
		html, body {
      position: relative;
      height: 100%;
			margin: 0px;
			padding: 0px;
    }
		
		.swiper-container {
			width: 100%;
			height: 100%;
		}
		.swiper-slide {
			padding: 10px;
			height: 100%;
			padding: 0px;
			overflow:scroll;
			/* 
			text-align: center;
			font-size: 18px;
			background: #fff;

			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			*/
		}
		.swiper-slide-active {
			padding: 0px;
		}
		.swiper-slide-next {
			padding: 0px;
		}
	</style>
	
</head>
	
<body>
	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<input type="text" id="sideSource" placeholder="Source">
		<div id="sideSource"></div>
		<input type="text" id="sideStock" placeholder="Company">
		<div id="sideStock"></div>
		<span id="sideButton">SAVE</span>
	</div>
	
	<div class="navbar"  style="display: none;">
		<ul class="nav navbar-nav">
			{% for s in source %}
				<li><a href="#{{ s.id }}">{{ s.id }}</a></li>
			{% endfor %}
		</ul>
	</div>  
	
	<div class="swiper-container" id="main">
		
		<div class="navbar"  style="display: none;">
			<ul class="nav navbar-nav">
				{% for s in source %}
					<li><a href="#{{ s.id }}">{{ s.id }}</a></li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="swiper-wrapper" id='myScrollspy' data-spy="scroll" data-target=".navbar">
			{% for s in source %}
				<div class="swiper-slide" id="{{ s.id }}"> 
					<span class='sidesign' onclick="openNav()">&#9776;</span>
					<span class='src' id="{{ s.id }}">{{ s.src }}</span>
					<span class='desrc'>{{ s.descr }}</span>
					<a href="{{ s.url }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
					<div class="content" id="{{ s.id }}"></div>
				</div>
			{% endfor %}
		</div>

		<div class="swiper-pagination"></div>
		
	</div>

	<script src="http://idangero.us/swiper/dist/js/swiper.min.js"></script>

	<script>
		var swiper = new Swiper('.swiper-container', {
			direction: 'vertical',
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});
		
		function openNav() {
				document.getElementById("mySidenav").style.width = "250px";
				document.getElementById("main").style.marginLeft = "250px";
				//document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
		}

		function closeNav() {
				document.getElementById("mySidenav").style.width = "0";
				document.getElementById("main").style.marginLeft= "0";
				document.body.style.backgroundColor = "white";
		}
		
		$('span.src').on('click',function(){
			var s = $(this).attr('id')
			create_post('sats_get_article',s,'','');
		});
		
		$('input#sideSource').on('keyup',function(){
			var s = $(this).val();
			create_post('sats_get_source',s,'','');
		})
		
		$('input#sideStock').on('keyup',function(){
			var s = $(this).val();
			create_post('sats_get_stock',s,'','');
		})
		
		$('span#sideButton').on('click',function(){
			var s = $('input#sideSource').val();
			var v = $('input#sideStock').val();
			
			if (s.length == 0) {
				$('input#sideSource').val('Source missing');
			}
			if (v.length == 0) {
				$('input#sideStock').val('Stock missing');
			}
			
			if (s.length != 0 && v.length !=0 ) {
				create_post('sats_create_article',s,v,'');
			}
			
		})
		
		$('div#sideSource').on('click','span.sideSource',function(){
			$('input#sideSource').val($(this).html());
			$('div#sideSource').html('');
		})
		
		$('div#sideStock').on('click','p.sideStock',function(){
			//$('input#sideStock').val($(this).attr('id'));
			$('input#sideStock').val($(this).text());
			$('div#sideStock').html('');
		})
		
		$(document).ready(function(){
				$("body").on("activate.bs.scrollspy", function(){
						//alert('ox');
				})
		});							
		

	</script>
	
</body>
	
</html>

{% else %}
<html>
<head>

<link rel="stylesheet" type="text/css" href={% static 'ledger/css/sats.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'ledger/css/font-awesome.min.css' %}>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script type="text/javascript" src={% static 'ledger/javascript/sats.js' %}></script>

<script type="text/javascript">
$(document).ready(function(){

	// Submit post on submit
	$('#post-form').on('submit', function(event){
		alert('obobob')
		//event.preventDefault();
		//console.log("form submitted!")  // sanity check
		//create_post();
	});
	
	$('#source_update').keyup(function (event) {
		//alert('aok')
	  //event.preventDefault();
		//console.log("form submitted!")  // sanity check
		create_post();
	 });
	 
	$('.update').bind('keyup', function() {
		var _id = $(this).attr('id');
		var _table = $(this).attr('tab');
		var _column = $(this).attr('col');
		var _value = $(this).val();
		
		delay(function(){
			//event.preventDefault();
			//console.log(_value)
			create_post(_table,_id,_column,_value);
			//$('#source_update').submit();
		}, 1000 );
	});
	
	$('.fa').not('.submit').bind('click', function() {
		var _id = $(this).attr('id');
		var _table = $(this).attr('tab');
		
		create_post(_table,_id,'','');
	});
	
	$('.submit').bind('click', function() {
		var _table = $(this).attr('tab');
		
		create_post(_table,'','','');
	});
	
	$('input.datepicker').bind('click', function() {
		$('div#ui-datepicker-div').css({'margin-top':'-5px',
										'margin-left':'-35px',
										'background-color': 'white',
										'padding': '10px',
										'font-family': 'monospace',
										'border': '1px solid burlywood',
										'border-radius': '10px'});
	});
	
	$(function () {
		$('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
	});
	
	$('input#stockpick').bind('keyup', function() {
		var _company = $(this).val();
		
		//delay(function(){
		create_stock(_company);
		//$('ul#ui-id-1').css({'top':'620px',
		//					  'left':'100px'});
		//}, 1000 );
		
		//$.get("http://d.yimg.com/aq/autoc?query=singtel&region=SG&lang=en-US", function(data, status){
		//	alert("Data: " + data + "\nStatus: " + status);
		//});
		
	});
	
});

$(document).ajaxComplete(function () {
    $('.fa').not('.submit').bind('click', function() {
		var _id = $(this).attr('id');
		var _table = $(this).attr('tab');
		
		create_post(_table,_id,'','');
	});
	
	//once company is chosen, click to get company name, type, ticker, price in corresponding column
	$('.ui-menu-item-wrapper').bind('click', function() {
		get_stock($(this).html())
	});
});
</script>
</head>

<body>

{% include "ledger/links.html" %}

<h1>sats</h1>

<h2>source</h2>

{% for a in source %}
<div class="source">
<table>
	<tr>
		<td class="source">
		{{ a.src }} 
		{% if a.url%}<a href="{{ a.url }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>{% endif %}
		</td>
	</tr>
	<tr>
		<td class="source">
			<textarea rows="3" cols="20" class="update source" id={{ a.id }} tab="sats_source_update" col="descr">
			{{ a.descr }}
			</textarea>
		</td>
	</tr>
	<tr>
		<td class="source">
		<table class="source">
			<tr><td>total</td><td>success</td><td>fail</td></tr>
			<tr><td>{{ a.total_count }}</td><td>{{ a.success_count }}</td><td>{{ a.fail_count }}</td></tr>
		</table>
		</td>
	</tr>		
</table>
</div>
{% endfor %}

<div class="source" id='new'><form action="{% url 'ledger:sats' %}" method="post" autocomplete="off">
{% csrf_token %}{{ source_form.non_field_errors }}
<table>
	<tr><td class="source">name</td>
	<td class="source">{{ source_form.src|addclass:'source' }}</td></tr>
	<tr><td class="source">description</td>
	<td class="source">{{ source_form.descr|addclass:'source' }}</td></tr>
	<tr><td class="source">URL</td>
	<td class="source">{{ source_form.url|addclass:'source' }} <i class="fa fa-check-circle-o submit" aria-hidden="true" tab="sats_source_add"></i></td></tr>
</table>
</form></div>

<h2>article</h2>

<table >
<tr>
	<th>source</th>
	<th>company</th>
	<th>ticker</th>
	<th>action</th>
	<th>start date</th>
	<th>initial price</th>
	<th>status</th>
  
	{# current day price recorded #}
	<th style='width: 10px;border-bottom: 0;border-top: none;'></th>
	<th style='background-color: cadetblue;'>current price</th>
	<th style='background-color: cadetblue;'>increase</th>
	<th style='background-color: cadetblue;'>adjusted increase<br/>with bid/ask/commission<br/>assumption</th>
	
	{# lowest price recorded #}
	<th style='width: 10px;border-bottom: 0;border-top: none;'></th>
	<th style='background-color: cadetblue;'>low date</th>
	<th style='background-color: cadetblue;'>low amount</th>
	<th style='background-color: cadetblue;'>low ROR</th>
	<th style='background-color: cadetblue;'>adjusted low ROR</th>
  
  	{# highest price recorded #}
  	<th style='width: 10px;border-bottom: 0;border-top: none;'></th>
	<th style='background-color: cadetblue;'>high date</th>
	<th style='background-color: cadetblue;'>high amount</th>
	<th style='background-color: cadetblue;'>high ROR</th>
	<th style='background-color: cadetblue;'>adjusted high ROR</th>  
</tr>

{% for a in article %}
<tr class='sats_article' id={{ a.id }}>
	<td style="font-size: x-small;text-align: right;">{{ a.src }}</td>
	<td nowrap style="padding: 0px 10px;">{{ a.ticker.name }}</td>
	<td>{{ a.ticker.ticker }}</td>
	<td></td>
	<td>{{ a.start_date }}</td>
	<td>{{ a.initial_price|removenone }}</td>
	<td>{{ a.status|removenone }}</td>
	
	{# current day price recorded #}
	<td style='width: 10px;border-bottom: 0;border-top: none;'></td>
	<td>{{ a.current_price|removenone }}</td>
	<td>{{ a.increase|floatformat:2|removenone }}%</td>
	<td>{{ a.adj_increase|floatformat:2|removenone }}%</td>
	
	{# lowest price recorded #}
	<th style='width: 10px;border-bottom: 0;border-top: none;'></th>
	<td>{{ a.min_price_date|removenone }}</td>
	<td>{{ a.min_price|floatformat:2|removenone }}</td>
	<td>{{ a.low_ror|floatformat:2|removenone }}%</td>
	<td>{{ a.adj_low_ror|floatformat:2|removenone }}%</td>
	
	{# highest price recorded #}
	<th style='width: 10px;border-bottom: 0;border-top: none;'></th>
	<td>{{ a.max_price_date|removenone }}</td>
	<td>{{ a.max_price|floatformat:2|removenone }}</td>
	<td>{{ a.high_ror|floatformat:2|removenone }}%</td>
	<td>{{ a.adj_high_ror|floatformat:2|removenone }}%</td>
</tr>
{% endfor %}

<tr>
</tr>
</table>
	
	
	<input class="" id="stockpick" maxlength="200" name="some">
	
	
</body>
</html>

{% endif %}