{% load staticfiles %}

<!DOCTYPE html>
<html>
{% if device == 'phone'%}
<head>
	
	{% include "ledger/meta_mobile.html" %}	
  <link rel="stylesheet" type="text/css" href={% static 'ledger/css/card.mobile.css' %}>
  
</head>

<body>
{% include "ledger/links_mobile.html" %}
  
<div class='card'>
	<div class='header'><i class="fa fa-desktop" aria-hidden="true"></i> Use a desktop</div>
  <div class = 'message'>This page will not support mobile view</div>
</div>
    
</body>
  
{% else %}

<head>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href={% static 'ledger/css/font-awesome.min.css' %}>
	<script type="text/javascript" src={% static 'ledger/javascript/transaction.js' %}></script>
  <link rel="stylesheet" type="text/css" href={% static 'ledger/css/transaction.desk.css' %}>
	
	<script type="text/javascript">
		
	$(document).ready(function(){

		//submit transition
		$('div.submit').bind('click', function() {
			var _id = $(this).attr('id');
			var _c = $(this).html()
			save(_id,_c);
		});


	});

	$(document).ajaxComplete(function () {

	});

	</script>
  
</head>

<body>
{% include "ledger/links.html" %}
  
<div class='card'>
	{{ textbox.input }}
	<div class='submit' id='upload'>POSB</div>
	<div class='submit' id='upload'>Citi</div>
</div>
  
<div class='card'>
  <span id='message'></span>
</div>
    
</body>
  
{% endif %}  
</html>