body {
  background:#f2f2f2;
}

div.card {
    background: burlywood;
    margin: 3%;
    padding: 2%;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  display: block;
  box-shadow: 5px 5px 20px darkgrey;
}
div.header {
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: xx-large;
  font-family: monospace;
  border-bottom: 1px solid beige;
}
div.message {
  background: wheat;
  width: 100%;
  font-size: large;
  text-align: center;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  padding: 3% 0 3% 0%;
  line-height: 1.5;
  margin-bottom: 5%;
}