div.card {
  padding: 50px;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  display: table-cell;
    border: solid;
}
div.header {
  padding: 15px 0 15px 0;
  font-size: xx-large;
  font-family: monospace;
  border-bottom: 1px solid burlywood;
}
div.message {
  font-size: large;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
  padding: 15px 0 15px 0;
  line-height: 1.5;
}

textarea {
  resize: vertical;
  height: 500px;
  width: 800px;
  outline: none;
  border-right: none;
  border-left: none;
}

div.submit {
  border: 1px solid wheat;
  background: none;
  color: burlywood;
  -webkit-transition: color .3s,box-shadow .3s;
  -moz-transition: color .3s,box-shadow .3s;
  transition: color .3s,box-shadow .3s, background-color 1s, border-radius 0s;
  border-radius: 5px;
  display: block;
  outline: none;
  width: 60px;
  font-size: larger;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

div.submit:hover {
    color: cornflowerblue;
    cursor: pointer;
    background-color: cornsilk;
    border-radius: 5px;
    border: 1px solid;
}